</div>
<footer>
	<div class="mail-chimp-form">
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
			<form action="//juliannarusak.us14.list-manage.com/subscribe/post?u=fe4284b10bf75b740176c3412&amp;id=45cffcf7b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL" style="font-size:29px;">Subscribe to my mailing list to stay in the know!<br /><h6>I email, like, maybe once a month!</h6></label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fe4284b10bf75b740176c3412_45cffcf7b3" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
		</div>

	    <div id="contact" class="container navbar" style="padding:25px 0;">
	    	<div class="text-center footer-icons">
			  <i>
			    <%= link_to "http://www.instagram.com/portablememories", target: '_blank'  do %>
			      <%= image_tag 'insta.png', width: 50 %>
			    <% end %>
			  </i>
			  <i>
			    <%= link_to "http://www.twitter.com/juliannarusak", target: '_blank'  do %>
			      <%= image_tag 'twitter.png', width: 50 %>
			    <% end %>
			  </i>
			  <i>
			    <%= link_to "http://www.linkedin.com/in/juliannarusak", target: '_blank'  do %>
			      <%= image_tag 'linkedin.png', width: 50 %>
			    <% end %>
			  </i>
			  <i>
			    <%= link_to "http://www.github.com/julrusak", target: '_blank'  do %>
			      <%= image_tag 'github.png', width: 50 %>
			    <% end %>
			  </i>
			  <i>
			    <%= mail_to "juliannarusak@gmail.com" do %>
			      <%= image_tag 'email.png', width: 50 %>
			    <% end %>
			  </i>
		  </div>
		</div>
	</div>
<!--End mc_embed_signup-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83224493-1', 'auto');
  ga('send', 'pageview');

</script>

</footer>