<!-- Navigation -->
<nav class="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">JULIANNA RUSAKIEWICZ</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to 'HOME', root_path %></li>
                <li><a href="<%= artist_path %>">ARTIST</a></li>
                <li><a href="<%= developer_path %>">DEVELOPER</a></li>
                <li><a href="<%= yogini_path %>">YOGINI</a></li>
                <li><a href="<%= posts_path %>">BLOG</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div><%= image_tag('sri_yantra.svg', width: '200') %></div>