<header class="intro-header post-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= @post.title %></h1>
                    <h2 class="subheading">Thoughts and musings</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			  <%= simple_format(@post.intro) %>
			  <%= simple_format(@post.text) %>
			  <%= image_tag(@post.image, width: '100%') %>
			  <%= simple_format(@post.conclusion) %>
			</div>
		</div>
	</div>
</article>
